[2011-05-20 15:24] ennustaja opened #4 "Plugins not included in latest download files"
I'm not sure if this is an issue per se but the plugins folder does not seem to be included in the 0.3.6 download files, although it is included in the 0.3.5 files. Thank you for your excellent work on vimoutliner, by the way, I find it quite useful.

[2011-05-21 00:01] #4 closed, assigned to nobody

[2011-08-26 02:13] fgharbich opened #5 "gVim crashes under WinXP/Win7 when the ,,t-command is used"
The call to strftime in ftplugin/vo_base.vim with the "%T" argument lets gVim crash under Windows.
Changing the argument to "%H:%M:%S" fixes this issue.
## Patch:

--- vo_base.vim.old Fri May 20 18:53:46 2011
+++ vo_base.vim Thu Aug 25 14:09:40 2011
@@ -372,7 +372,7 @@
 " InsertTime() {{{2
 " Insert the time.
 function InsertTime(ba)
-   let @x = strftime("%T")
-   let @x = strftime("%H:%M:%S")

[2011-11-17 10:07] iagomosqueira opened #9 "vimoutliner slows down vim greatly"
Using the latest vimoutliner, on Ubuntu 11.04 and vim 7.3.154, opening an otl file makes vim much slower on every open document. This did not use to be the case until a few months ago.

For example, I git a 1-2 sec delay when moving from line to line in normal mode.

Any suggestion on what to check? Any possible interaction with other plugins being the cause?

Thanks,

Iago

[2011-12-01 23:34] #5 closed, assigned to nobody

[2012-03-03 10:45] gmt4 opened #10 "vimoutliner/scripts: outline_freemind use codec utf-8"
I've been using the outline_freemind and had some issues when using utf-8 outline files,
with the python script outline_freemind.py reported:

[code]

I've fixed this by making the python scripts default to 'utf-8' encoding,
in addition i've merged both scripts into one single freemind.py.

This allows me to get a graphical view of the outline:

[code]

I've published the patch at: https://gist.gi

[2012-05-23 20:16] #9 closed, assigned to nobody

[2012-06-03 18:44] mcepl opened #13 "Remove included RCS tags, logs, etc."
We have now working VCS, we don't have to deal with this crap anymore. The same goes for the commented out code.

[2012-06-03 18:48] mcepl opened #14 "Remove included RCS tags, logs, etc."
We have now working VCS, we don't have to deal with this crap anymore. The same goes for the commented out code.

[2012-06-03 18:49] #14 closed, assigned to nobody

[2012-07-28 03:57] joonro opened #20 "Adding nore variants to commands"
I am using colemak keyboard layout which has : where p key is, and thus I have remapped ; as p. Without nore variants, all the ,, commands does not work (it pastes)

I added nore to all the commands and now it works fine. Would it be possible to make the change?

Thank you,
Joon

[2013-02-22 20:00] ghost opened #21 "How to remove indent level number at the begining of the line?"
Sorry but I could'nt find how to do it.
Thanks for that awesome plugin!

[2013-04-11 16:18] #10 closed, assigned to nobody

[2013-04-11 16:23] #21 closed, assigned to nobody

[2013-04-18 18:56] mcepl opened #24 "Most of the Python scripts in scripts/ are broken"
Mixed TABs and spaces which make them completely unreadable.

[2013-04-20 20:44] #24 closed, assigned to nobody

[2013-04-22 09:36] #13 closed, assigned to nobody

[2013-07-04 12:36] gilfra opened #29 "Difficulty installing into gvim on Windows 7?"
Hello,

I've downloaded 0.3.6 and, as far as I can see, have precisely followed the instructions for installing on Windows as specified in 'README.detailed' and 'INSTALL.

However, when I create a new .otl file there is no indication that the installation has worked.

Any help would really be appreciated.

Thanks, Gilbert

[2013-07-07 20:11] #29 closed, assigned to nobody

[2014-03-06 12:27] UnkindPartition opened #36 "http://www.vimoutliner.org/ is filled with spam"
At least the link to it should be removed from the github page.

[2014-03-06 14:02] #36 closed, assigned to nobody

[2014-04-17 20:56] novahahn opened #41 "Default vimoutlinerrc not loaded when installed via Vundle"
When I installed vimoutliner using Vundle, the checkbox mappings and presumably other things didn't work. As a workaround, I added `~/.vim/bundle` to the `runtimepath`.

[2014-05-23 09:50] Enrico68 opened #42 "Making link inside file"
Hello,

I don't know how to tag a block inside. I mean if want to jump to another block inside the same file. I know how to do it with external file.

[2014-05-25 19:31] #20 closed, assigned to nobody

[2014-06-03 13:01] cjp opened #43 "vimoutliner project page refers to old URL"
http://github.com/vimoutliner still refers to http://vimoutliner.org. This site appears to be either squatted or compromised.

[2014-06-03 13:33] #43 closed, assigned to nobody

[2014-06-03 21:37] losgann opened #44 "0.3.7 release Help links broken"
After installing this release I noticed some of the menu _Help_ links were broken. Apparently the section tags in **doc/votl_readme.txt** were changed from earlier versions and the menu links weren't updated accordingly. The following patch to **ftplugin/votl.vim** fixes them:

[code]

-John Porubek

[2014-07-08 08:58] #44 closed, assigned to nobody

[2014-07-08 13:32] #42 closed, assigned to nobody

[2014-09-02 09:05] niklaas opened #46 "Debian, comma-comma and leader"
I think it is a known issue but unfortunately I am unable to find any information on how to solve it: Under Debian the comma-comma commands do not work. After doing a search on the internet I found this explanation: https://bugs.launchpad.net/ubuntu/+source/vimoutliner/+bug/358109/comments/4 but I did not find any information on how to solve the problem. I am using vimoutliner with pathogen. Looks

[2014-09-02 11:14] #46 closed, assigned to nobody

[2014-09-08 14:28] mcepl opened #48 ",,cz in vimoutliner/plugin/votl_checkbox.vim should distinguish between what we should and what we wait for"
When I have this outline (yes, I lost my wallet):

[code]

Then the calculations are actually not that helpful. Yes, it is true, we are not done yet, so the root percentage should not be 100%, but on the other hand we have done all we could and now we are just waiting on the officials to do their duty.

[org-mode](http://orgmode.org/manual/Workflow-states.html#Workflow-states) distinguishes betwee

[2014-09-13 16:30] noelhenson opened #49 "Is it time for meta-information?"
First...

It has been some time since I have been actively involved in VO development, though I still use it on a daily basis. Thanks to all for continuing to fight the good fight by contributing and using this awesome tool! :)

To the point...

Over the last several years I have experimented with adding new features to VO and it's plugins. I have tried to do this while keeping the spirit of VO an

[2014-09-15 05:11] #41 closed, assigned to mcepl

[2014-09-17 14:31] jostber opened #52 "Comma commands set by vimoutlinerrc do not work"
Reported by Gernot Schulz:
The recent patches and discussion about the comma-comma commands reminded me of an issue I meant to bring up a long time ago:
Setting maplocalleader in ~/.vimoutlinerrc has no effect.  To change the mapping back to ",,", I have to edit ftplugin/votl.vim directly.
The same happens when installing vimoutlinerrc with the install.sh script,
and then setting the maplocalleade

[2014-09-18 06:29] DC23 opened #53 "error generating helptags for vimoutliner"
After installing vimoutliner with Vundle, I get errors generating the helptags. votl.txt and votl_readme.txt contain duplicate tags. From a diff, it appears that votl.txt is probably the more recent version.

If I manually delete one of the two files then generating the helptags succeeds.

[2014-09-19 10:05] mcepl opened #55 "Add Noel's stuff from the old site"
Hi @noelhenson ,

I have found http://web.archive.org/web/20110814051808/http://www.noels-lab.com/software.html ... do you think we can add some material (which one) to our main repo?

[2014-09-20 21:51] #53 closed, assigned to nobody

[2014-09-20 23:28] #52 closed, assigned to nobody

[2014-09-22 06:09] jostber opened #58 "Clean up old vo files and backups?"
Now the install.sh script makes backups of the old installations so there unnecessary clutter is generated in the .vim folders. Old vo_base files are also not removed when installing with install.sh. Should we add some code for cleaning up this?

[2014-09-22 07:53] jostber opened #59 "Plug mappings and more"
Ref. to post from Israel Chauca previously regarding fixing the code for mappings in VO:

http://comments.gmane.org/gmane.comp.editors.vim.outliner/5516

Is this something we should start working on now?

[2014-09-23 14:35] noelhenson opened #60 "Add color scheme setting line to .vimoutlinerrc"
I believe we should add a line similar to this one in the User Preverences section of .vimoutlinerrc.
"colorscheme vo_noel            " set the color scheme

That way users will have a marker as to where to set it.

[2014-09-24 10:18] mcepl opened #61 "vo_checkbox counts deferred items as done"
This is a part of outline with TODO list for getting all my papers back when I lost my wallet (you don't need to understand the text, and all phone numbers etc. are of public institutions):

[code]

I have a problem with `[-]` items. "InKarta ČD" is still waiting on the Czech railways actually delivering me the card back (that's the last item), so the total of this item should not be 100%, because

[2014-09-24 21:54] Enrico68 opened #62 "Problem with editing after pressing space"
Whenever I try to edit after pressing space it prints a timestamp .

[2014-09-25 17:50] #62 closed, assigned to nobody

[2014-09-25 19:56] #49 closed, assigned to nobody

[2014-09-25 19:57] #61 closed, assigned to nobody

[2014-09-27 18:04] #58 closed, assigned to noelhenson

[2014-09-28 14:39] noelhenson opened #66 "GVIM VO help menu not workin"
In GVIM menus VO:Help and in Help:VO, all help options return "E149: Sorry, no help for ...". Help does exist with the :help command.

[2014-09-28 14:50] noelhenson opened #67 "Update VO Documentation"
VO documentation needs to be updated. Version information is incorrect. There are features in tools like checkboxes that are undocumented. We can bring example VO files together in one place that is hopefully linkable to Vim's help system.

[2014-09-29 17:34] #66 closed, assigned to nobody

[2014-10-07 14:34] mcepl opened #79 "MaxThink™-like Brainstorming functions ...."
![maxthink-brainstorming](https://cloud.githubusercontent.com/assets/198999/4543555/552f0728-4e2c-11e4-96b2-05871fdd82dd.png)
With reference to http://thread.gmane.org/gmane.comp.editors.vim.outliner/5411/ I would like to think about the following functions:
- **Binsort**

  You have a long unordered list and with one key commands you can throw each item to the particular bin (key shortcut being p

[2014-10-07 21:35] #55 closed, assigned to noelhenson

[2014-10-07 21:40] #67 closed, assigned to noelhenson

[2014-10-08 05:44] #48 closed, assigned to nobody

[2014-10-12 01:53] RomainEndelin opened #82 "Vimrc is overriden"
When I run an otl file, my `vimrc` file is overriden by the `vimoutlinerrc`. This is particularly obvious as the default `vimoutlinerrc` even overrides the colorscheme.

I don't really understand why `vimoutlinerrc` should override `vimrc`. Is there any reason for it? It seems to me more natural to have sensible defaults given by the plugin (not meant to be modified), and to possibly override them

[2014-10-12 19:36] #82 closed, assigned to nobody

[2014-10-14 12:57] noelhenson opened #87 "Add [ and ] to iskeyword"
I believe we should add [ and ] to iskey word in the main VO plugin file. This makes it easier to use w and b for right/left movement when checkboxes and/or tags are present.
Note: this may impact magic.vim as it would change the behavior of <cword> and make it behave more like <cWORD>.

[2014-10-16 23:20] #60 closed, assigned to nobody

[2014-10-17 01:08] noelhenson opened #88 "Question about ignoring leaves and branches [-]"
I have been using [-], which is supported by votl_checkbox.vim to mark branches is 'ignored'. They still retain the states of the branch (except in the case of ignoring a leaf, in some cases). But it is an exception case when it comes to ,, commands.
Problem:
To use [-] one must manually replace [ _ ] or [X] with [-] and then execute a ,,cz. The same must be done to return the brach to a non-ignor

[2014-10-17 01:54] noelhenson opened #89 "Comments in VO"
There are times when I would like to put comments in my outlines that I don't want seen by post-processors like otl2html and otl2tags. Currently I work around the issue by choosing something like '[[[' or '\\' or 'XX' and use 'grep -v' to skip those lines. It has also come up over the years that it would be nice to be able to add some kind of additional formatting information to certain headings a

[2014-10-20 03:03] noelhenson opened #91 "doc/votl.txt has 0.3.7 as version"
The documentation file (doc/votl.txt:4) still has the version listed as 0.3.7.

[2014-10-20 16:05] jostber opened #94 "Make a list of plugins that works well with Vimoutliner"
It could be useful to have a list of vim plugins that works well with
VO and that might cover functionality in other outliners. Examples:

UTL.vim: Link text to URLs,other files or references
DOT.vim: Simple table of content
Voom.vim: More advanced table of content
NrrwRgn.vim: Extract parts of outliner file to work on them

[2014-10-20 21:40] #91 closed, assigned to nobody

[2014-11-06 00:35] askhat opened #98 "None of comma-comma commands are working"
I've installed **vimoutliner** from Github via **pathogen**. My _.vimrc_'s first lines looks like this:

[code]

And _.vimoutlinerrc_ like this:

[code]

But none of comma-comma commands not working.
I use **Ubuntu 14.10 x86**, **vim 7.4.273** and **vimoutliner 0.4.0**.

[2014-11-08 03:42] #98 closed, assigned to nobody

[2014-12-05 02:36] benrhughes opened #101 "<Leader> never clears"
When I change maplocalleader in vimoutlinerrc and restart vim, both the old and new mappings exist. Needless to say, this is pretty frustrating.

Here's the output from `:map!` after setting maplocalleader to ' ' ',,' '\' and 'bb' with a vim restart between each.
[code]

[2014-12-05 13:44] mcepl opened #102 "`use_space_colon` global or local?"
While checking that there is nothing interesting in the Debian patches, I stumbled upon
https://github.com/vimoutliner/vimoutliner/blob/master/ftplugin/votl.vim#L33 where the Debian patch has `g:use_space_colon` instead of ours `use_space_colon`. Which one is correct?

[2015-01-08 03:48] Januzz opened #107 "otl2opml?"
the plugin looks really impressive, but I am missing the option to export to OMPL, which would, in my opinion, be really useful to further use outlines in other applications (mindmapping apps, task manager, etc.)

[2015-01-08 03:50] noelhenson commented on #107
Can you elaborate a bit? What are the advantages of OPML? What would you
actually use it for? Perhaps I can guide you in the creation of a exporter.

-Noel

On 01/07/2015 09:48 PM, Januzz wrote:

[2015-01-08 04:03] Januzz commented on #107
OPML can be read/imported by a lot of applications and is thus a really good transfer format in my opinion.

I would for example use it to get outlines from VIM into my taskmanager OmniFocus and/or to display them as mind maps, e.g., with MindNote or Tinderbox.

[2015-01-08 19:00] cbtlsl opened #108 "strftime arguments do not work in windows"
In votl_clk.vim, the time stamps creation scripts do not work.  This is because strftime does not recognize %T as a format argument.  %H:%M:%S needs to be used instead.  I am not sure if this is portable across all platforms.

[2015-01-08 19:47] mcepl commented on #108
Please test pull request #109

[2015-01-08 21:44] jostber commented on #107
On 07.01.15,19:50, Noel Henson wrote:

In the vimoutliner/scripts folder, there is a script you have made
previously, Noel, called otl2tags.py which mentions conversion to OPML
format. It is not obvious how it works though. Can you check it out again?

Jostein

[2015-01-08 23:46] noelhenson commented on #107
On 01/08/2015 03:44 PM, Jostein Berntsen wrote:

I remember creating the otl2tags.py tool. I don't remember if I actually
got opml output to work. I will check it out and review my old svn notes
to see where it was left.

Noel

[2015-01-09 05:54] #108 closed

[2015-01-09 10:11] #102 closed

[2015-02-14 16:14] GrahameBlackwood opened #110 "votl_maketags.pl"
While testing Vimoutliner installed via Pathogen I've found two problems related to votl_maketags.pl

The first is that when I tried to use votl_maketags.pl to test interoutline linking like so:

~/.vim/bundle/vimoutliner/vimoutliner/scripts/votl_maketags.pl ~/votl_test.otl

This failed with an error message that I didn't have the necessary permissions. I noticed that votl_maketags.pl is not execu

[2015-02-16 10:16] mcepl commented on #110
We can fix the exec bit of the script, but there are many things not right. @jostber , you have added the script to the git, do you have any idea about Perl programming? And I believe Steve is the original author, but I don't think he is around Github (is he?).

Just by five-minutes browsing I see this:
* [ ] https://github.com/vimoutliner/vimoutliner/blob/master/vimoutliner/scripts/votl_maketags.

[2015-02-16 10:18] mcepl commented on #101
So, I guess, we can close this ticket, right? If not, I am sorry, and please reopen.

[2015-02-16 10:18] #101 closed

[2015-02-16 12:42] zmughal commented on #110
Oooh. This Perl is just not very good. Not even by old standards. I will look into rewriting it, if that's OK?

Here's an [example](https://github.com/zmughal/p5-Devel-IPerl/blob/master/bin/iperl) of a Perl script I wrote just the other day.

[2015-02-16 16:03] jostber commented on #110
On 16.02.15,04:42, Zaki Mughal [sivoais] wrote:

That is OK with me, this is a quite old script that needs some cleaning u.

u

[2015-02-16 17:32] mcepl commented on #110
Couldn't we actually port it to Python (or Ruby if you really insist)? I would really like to decrease number of languages used inside of VimOutliner and Perl seems to be easiest one to exorcise.

[2015-02-16 18:03] jostber commented on #110
On 16.02.15,09:32, Matěj Cepl wrote:

I agree that it would be better to keep the scripts to one or two
languages, and both ruby and python works fine in this context. iIs this
script also very useful anymore when the UTL vim plugin covers all the
scripts does and a lot more as well?

http://www.vim.org/scripts/script.php?script_id=293

Jostein

[2015-02-17 12:09] mcepl commented on #110
OK, so perhaps @jostber is right.

@GrahameBlackwood is UTL what you actually want? If not, would anybody finish my pull request (this is just untested draft)?

[2015-02-17 16:36] GrahameBlackwood commented on #110
Hi Matěj

On Tue, Feb 17, 2015 at 12:10 PM, Matěj Cepl <notifications@github.com> wrote:

I haven't heard about UTL until this conversation developed, so I can't say it
it's what I want. I'll install it and try it out.

Cheers

G

[2015-02-17 19:34] zmughal commented on #110
@mcepl heh, yeah, it's evil, but it gets the job done! :-P

Also, doing a direct translation won't fix the bugs in that code.

[2015-02-19 21:59] mcepl commented on #110
??? I believe I have avoided all bugs I have mentioned.

[2015-02-20 16:07] mcepl commented on #59
@noelhenson  any progress on this?

[2015-02-20 16:09] mcepl commented on #87
@noelhenson , could you make a pull request for this, please?

[2015-02-23 03:13] zmughal commented on #110
Yes, those aren't the bugs I see, but there are still some design issues in the original script that should not be ported over. That's why I rewrote the entire structure in #112 to separate the concerns of each function.

I made some comments on #111.

[2015-02-24 18:59] mcepl commented on #110
@zmughal Could you please review #111 again? I have made complete rewrite based on your Perl script in #112. You are right, that zombie is not worthy to be revived.

What do you think?

[2015-02-24 19:30] zmughal commented on #110
Done! It looks much better.

[2015-05-18 16:24] andyl opened #114 "Tab/Folding Problem"
In insert mode, sometimes the tab character closes the parent fold.

To reproduce - starting in normal mode: `ggo<tab>`

This jumps to the first line, opens a new line for editing, then inserts a tab indent.  BUT is also folds the parent.

The command `:verbose map <tab>` shows no key assignments.  I've disabled snipmate.  Can anyone offer a clue or ideas on how to debug this problem?  Thanks in a

[2015-05-19 07:41] mcepl commented on #114
I don’t understand.

Is the file empty or not? If it is, then you make a new level item and it is properly folded. What's the problem?
If the file is not empty, then you just add one subordinate item to the root. I don't see there a problem either.
Please, explain what's the problem and provide exact steps leading to the issue, and then describe what you have expected and what actually happened to

[2015-05-19 17:59] andyl commented on #114
Thanks for your reply.  To reproduce:
1) start with an empty file `vim newfile.otl`
2) type `:set invlist<cr>iline 1.1<cr><tab>`

Notes:
- `:set invlist<cr>` displays non-printing characters (`$` for `newline`, `^I` for `tab`)
- after I type `<tab>`, vim folds on `line 1.1`, and remains in insert mode
- to unfold and continue: `<esc>zOA`

Perhaps this problem is due to some other vim setting.  Hav

[2015-05-19 20:14] mcepl commented on #114
Sorry, but this is exactly the expected beahvior ... this is vim'''outliner''', we want vim to behave like with outline.

[2015-05-20 02:45] andyl commented on #114
The behavior I see is inconsistent.  It auto-collapses after the first header, but does not auto-collapse after lower headers.  Check out the attached gif - hopefully that will show the problem a little more clearly.

![vim_test](https://cloud.githubusercontent.com/assets/90030/7717995/1879101a-fe5f-11e4-8ad8-756daff28290.gif)

[2015-05-20 03:15] andyl commented on #114
I found that the problem was due to a vim setting: `setlocal foldlevel=0` - something I used to open an outline with all headers collapsed.  Once I removed that setting, everything was OK.

[2015-05-20 11:40] mcepl commented on #114
Two questions to make sure we are on the same page:
 * that `setlocal foldlevel=0` was your doing in some of your configuration files, not something VO did, right?
 * this auto-folding is something done by the vim itself, right? It is not something we did (yes, I can reproduce this as well with `setlocal foldlevel=0`) by some other plugin, right?
@noelhenson , do you think this is a bug in `vim` i

[2015-05-20 14:38] andyl commented on #114
Yes I had `setlocal foldlevel=0` in a one of my vim config files (~/.vim/after/ftplugin/votl.vim) because I wanted the outlines to be closed by default.

The autofolding is done by vim itself or by VO - I'm not sure which.  I did a test to disable all other plugins and still had the autofolding problem.

[2015-05-30 21:13] mcepl opened #115 "otl2html should recognize URLs"
It would be lovely if `otl2html` recognized URLs in the outline and marked them as `<a>` element.

[2015-05-30 22:19] noelhenson commented on #115
otl2html already has a 'link' syntax.

On 05/30/2015 04:13 PM, Matěj Cepl wrote:

[2015-06-01 06:59] mcepl commented on #115
OK, then I plead stupid ... how one does create a construct in the `.otl` file which would get changed into `<a>` element? I thought
[code]
is the way, but it doesn't seem to create anything for me.
[code]

[2015-06-02 00:29] noelhenson commented on #115
It appears that the otl2html help has been removed from VO. Let me see
what I can find in my archives.

On 06/01/2015 01:59 AM, Matěj Cepl wrote:

[2015-06-02 00:32] noelhenson commented on #115
otl2tags is also useful but needs a little bit of love. It can create
web pages as well.

On 06/01/2015 01:59 AM, Matěj Cepl wrote:

[2015-06-02 00:39] noelhenson commented on #115
OK. Try 'otl2html.py -H' for some quick help. Most people don't really
use the --help option anymore. ;)

On 06/01/2015 01:59 AM, Matěj Cepl wrote:

[2015-06-02 00:49] noelhenson commented on #115
Here  is a working example. It's my old website, created in a single OTL
file. I Hope that helps.

On 06/01/2015 01:59 AM, Matěj Cepl wrote:

all :
	otlsplit -l 1 -D exports website.otl ; \
	cp otl*.otl exports
	cp crlf.otl exports
	cp easy*.otl exports
	cp cidr*.otl exports
	cp cordic.otl exports
	cp forthstrings.otl exports
	cd exports && make $@

clean :
	rm -f *~
	cd exports && make $@

upload

[2015-06-02 15:00] mcepl commented on #115
OK, so the result of this issue is:
1) --help and -H should be same (and we should probably switch to using `argparse` so all help stuff is handled reasonably)
2) we should add `<meta charset="utf-8">` to the `<head>` element, so that `otl2html` is also useful for somebody else than #@## Americans.

[2015-06-02 16:06] noelhenson commented on #115
Here is how it should be done:

-h, --help
-H one learns about if they read the -h or --help output. ;)

I should definitely add --help-syntax.

Also I need to include some of the other processing features.

Good idea on the <head> element. It should be specifiable in the command
line options.

otl2tags does a much better job of that. And it can be configured via
configuration files. otl2html, bel

[2015-09-27 16:48] #110 closed

[2015-09-27 17:25] mcepl opened #116 "Broken Tools sub-menu"
When running any `otl2tags` command from the VO submenu:
[code]
Also, we don’t have any `myotl2html.sh` command.

[2015-09-27 17:31] mcepl commented on #115
@noelhenson ???

[2015-09-27 17:31] mcepl commented on #107
@noelhenson ping?

[2015-09-27 17:32] mcepl commented on #89
@jostber ping?

[2015-09-27 17:35] mcepl commented on #79
I think this is still just in the thinking state, so no milestone.

[2015-09-27 17:36] mcepl commented on #94
@jostber  any progress on this?

[2015-09-27 17:37] jostber commented on #89
On 27.09.15,10:32, Matěj Cepl wrote:

I believe it was Noel that suggested this earlier this year?

[2015-09-27 17:40] mcepl commented on #89
Sure, but he finished with some questions to you?

[2015-09-27 17:41] jostber commented on #94
On 27.09.15,10:36, Matěj Cepl wrote:

I have made a list here previously and will do a QA on this and upload to the site.

[2015-09-27 17:41] mcepl commented on #88
OK, so what's going on here? Who proposes to do what?

[2015-09-27 17:42] jostber commented on #89
On 27.09.15,10:40, Matěj Cepl wrote:

I will check this again and send a reply. Thanks.

[2015-09-27 17:48] jostber commented on #89
Noel, have you checked if you can use the # notation for comments here?

[2015-09-28 02:27] noelhenson commented on #89
I have.
s before, post processors can either ignore or have an option to ignore
lines where the first non-whitespace character is '#'. There is no
folding syntax for '#' yet, but it should be pretty easy to add; just
copy one of the other types we have. The conceal syntax would allow for
hiding of the comment itself but unfortunately vim cannot collapse a
fold into 0 lines.

On 09/27/2015 12:48 PM

[2015-09-28 02:29] noelhenson commented on #88
use the [-] to exclude a leaf/branch from inclusion in completion
calculations. I believe the modification has already been done and
tested. Documentation needs to be updated.

On 09/27/2015 12:41 PM, Matěj Cepl wrote:

[2015-09-28 02:31] noelhenson commented on #107
One needs to read the otl2tags documentation and create opml.conf. It
should be a very simple chore.

On 09/27/2015 12:31 PM, Matěj Cepl wrote:

[2015-09-28 02:31] noelhenson commented on #115
This has been addressed before. The best solution was to use another vim
plugin that is already programmed for highlighting URLs.

On 09/27/2015 12:31 PM, Matěj Cepl wrote:

[2015-09-28 02:33] noelhenson commented on #116
That command was addressed in documentation, I believe, or a thread. The
user needs to create his/her own myotl2html.sh command that calls
whatever program or script the user wishes.

On 09/27/2015 12:26 PM, Matěj Cepl wrote:

[2015-09-28 11:04] mcepl commented on #116
I would a way prefer if instead of hardcoding this into the default menu for everybody; if there is some way how to make user-defined pieces of menus/submenus inserted into the main VO menu.

[2015-09-29 09:44] cche opened #117 "Searching with \w in pattern is broken"
Whenever I issue a \w in a search pattern (/ or ?) I'm pulled back to the buffer in insert mode. I can not complete the search pattern.

This has broken custom mappings that I used regularly.

Hope you can fix it.
Thanks,
Cristian

Mac os X, using macvim installed from homebrew.

[2015-09-29 09:52] mcepl commented on #117
Cannot reproduce with 7.4.160 on Linux. `\w` doesn’t do any nasty things to my outliner. Could I get output of `:version` command here, please?

[2015-09-29 11:11] mcepl commented on #115
Please review this pull request (#118).
Still not using `argparse` and still not producing validating HTML5 pages, but a step ahead.

[2015-09-29 11:14] mcepl opened #119 "Switch otl2html.py to using argparse"
`getArgs` function is something horrific.

Additional fix for #115.

[2015-09-29 11:14] mcepl opened #120 "`otl2html` should generate valid HTML5 pages"
See https://validator.w3.org/ on generated HTML.

Additional fix for #115.

[2015-09-29 13:40] cche commented on #117
The first lines of :version output are:
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Aug  6 2015 11:13:22)
MacOS X (unix) version
Included patches: 1-769
Compiled by Homebrew

I use \ as leader and when typing \w while searching, the file gets saved and put into insert mode as if ,,w was called. Maybe this helps!
Cheers,
Cristian

[2015-09-29 13:52] mcepl commented on #117
'The leader' is the key. Yes, `<leader>w` in the search mode leads to Insert mode. Weird.

[2015-11-09 15:01] cche commented on #117
Hi,
<leader>w is working as expected in search mode with the changes made.
Sorry for the delay in responding, urgencies took over :-)

Thanks!
Cristian

[2015-11-09 15:01] #117 closed

[2015-11-09 15:34] mcepl commented on #117
Thank you for letting me know.

[2015-12-15 15:00] freeit opened #123 "Miscalculated times (clock plugin)"
When I'm using clocking on lines with a checkbox, time is calculated incorrect, e.g.:

[code]
I've testet with vimoutliner from the master branch and the version tagged with 0.4.0 .

[2016-01-25 17:35] frioux opened #124 "VOput broken?"
I'm sure that there is some kind of conflict with another of my many plugins.  If I do `yyp` to copy a line, the `p` does nothing.  I don't know much about vimscript, but I am happy to try anything you can recommend to me to debug the issue more and either get it fixed or fix my setup.

Thanks

[2016-01-26 16:09] danielcnorris opened #125 "Sorting top level tree"
Looks like ,,s and ,,S currently only work on subtrees. Running :sort on the entire tree destroys the hierarchical tree structure. I currently sort my top level by placing it in a subtree under a temporary top-level header, sorting the now second level headers, and then deleting the temporary top-level header. Is there a way to sort top level nodes while preserving the nested hierarchical structur

[2016-01-26 16:34] mcepl commented on #125
sorry, test

[2016-01-26 18:09] jostber commented on #124
On 25.01.16,09:35, fREW Schmidt wrote:

Does this work in an ordinary vim file?

[2016-01-26 18:17] frioux commented on #124
paste?  Yes.

On Tue, Jan 26, 2016 at 10:09 AM, Jostein Berntsen <notifications@github.com

--
fREW Schmidt
http://blog.afoolishmanifesto.com

[2016-01-26 18:31] jostber commented on #124
On 26.01.16,10:17, fREW Schmidt wrote:

It works in my setup so it is probably some conflicting plugin here. Does
":map yyp" and ":map p" show you anything?

[2016-01-26 18:49] frioux commented on #124
Oh wow, I do have maps for those:

`:map yyp` shows:

[code]

`:map p` shows:

[code]

I'll look at disabling those and seeing if that helps I guess

On Tue, Jan 26, 2016 at 10:31 AM, Jostein Berntsen <notifications@github.com

--
fREW Schmidt
http://blog.afoolishmanifesto.com

[2016-01-27 08:42] mcepl commented on #124
OK, let's call it PEBKAC for now and close. Feel free to tell me if you have reasons to believe that this is VO problem.

[2016-01-27 08:42] #124 closed

[2016-01-27 11:03] jostber commented on #125
On 26.01.16,08:09, Daniel Norris wrote:

The sort function in vimoutliner is a sortchildren() function. To get the
functionality you want you might write a short vim function to make a
temporary indent, then call sortchildren and then de-indent?

[2016-01-27 20:44] danielcnorris commented on #125
Yeah that's what I'm doing. Just wanted to check that this was expected behavior. I think a good default would be to have ,,s and ,,S also sort top level items while preserving outline structure.

Thanks for your response!

[2016-07-19 19:52] linxichen commented on #123
I encounter this problem too. Please fix.

[2016-07-20 17:13] mcepl commented on #123
@noelhenson any idea?

[2016-07-20 17:19] noelhenson commented on #123
I can take a look. I do remember these issues being mentioned before but since I didn't not create the clock plugin I didn't put any effort into it. I will take a look at it.

[2016-07-20 17:26] linxichen commented on #123
Thanks man!

Best,
Linxi Chen

From: Noel Henson <notifications@github.com>
Reply: vimoutliner/vimoutliner <reply@reply.github.com>
Date: July 20, 2016 at 1:19:12 PM
To: vimoutliner/vimoutliner <vimoutliner@noreply.github.com>
Cc: linxichen <linxichen88@gmail.com>, Comment <comment@noreply.github.com>
Subject:  Re: [vimoutliner/vimoutliner] Miscalculated times (clock plugin) (#123)

I can take a l

[2016-07-20 17:43] noelhenson commented on #123
OK. It took a while to get the plugin running in my non-standard setup (I know, Matej. I know.)
It appears to be a greedy matching issue with the regex that selects the time fields from the heading. The checkbox is interfering.

I'm not the regex/vimscript guru that people think I am. Any help with this would be appreciated.

[2016-07-20 17:44] noelhenson commented on #123
Once we fix this, the negative times from midnight crossings can easily be fixed.

[2016-07-20 18:12] mcepl commented on #123
Perhaps just
[code]
?

[2016-07-20 18:19] noelhenson commented on #123
Of course that. But the specifics were what I was after. Anyway, I have a fix. I'm just refreshing my memory on the branch and pull for VO.

[2016-07-20 18:38] noelhenson commented on #123
The fix is complete for the times fields regex and for negative times due to midnight crossings. If the end time is less than the start time, a midnight crossing is assumed and compensated for. I believe the pull request for this fix should be available.

[2016-07-20 18:43] mcepl commented on #123
Fixed! Thank you, @noelhenson !

[2016-07-20 18:43] #123 closed

[2016-07-21 23:11] leoroos opened #128 "remove intrusive <C-K> and <C-N> mappings"
In general I think it is bad behavior to force the end user to use a specific mapping, especially with vim, where a configuration can load tens of plugins to provide all the user desired functionality.

the `ftplugin/votl.vim` contains an array of mappings. Most of them use `<localleader>` and can at least be indirectly configured. But the [mappings](https://github.com/vimoutliner/vimoutliner/blob

[2016-07-22 12:21] mcepl commented on #128
Fixed by #129 (commit 72c138d). Thank you!

[2016-07-22 12:21] #128 closed

[2016-07-22 19:23] leoroos commented on #128
Thank you! :)
Though I was a little overzealous with my deletions and deleted by accident also the internal mappings
which don't interfere with the user mappings, see #130

[2016-07-28 15:33] linxichen opened #131 "Hoisting not working for me, how to find log/debug info?"

[2016-07-28 15:58] linxichen commented on #131
Error message
E216: No such group or event: filetypedetect *

it seems to come from conflict of system built-in vim by Mac OS El Capitan and my homebrew installed vim 7.4

any idea how to fix this?

[2016-07-28 17:11] noelhenson commented on #131
A little more information on the failure and steps to reproduce it would
be helpful.

On 07/28/2016 10:58 AM, linxichen wrote:

[2016-07-29 14:57] linxichen commented on #131
I got a little confused by the doc "votl.txt"

it seems <localleader>hh instead of <localleader>h is the right way to activate hoisting?
Also the hosting behavior i got from hh is different from the doc describes (no new otl file is created, saving changes doesn't revert to the original tree etc.)

may be that's the behavior of new hoist instead and the votl.txt is describing the old one?

[2016-07-29 15:21] noelhenson commented on #131
LInxichen,

Again, we are short on details here. I will have to guess.

I did a ":map" on my installation. Is shows these commands for hoisting:

    ,,hD         @:call DeHoistAll()<CR>

    ,,hd         @:call DeHoist()<CR>

    ,,hh         @:call Hoist(line("."))<CR>

I believe the VO help files need some work to be up to date with all the
plugins.

Hoisting is an experimental feature that has

[2016-07-30 01:06] leoroos opened #132 "Use `(i|n|v|)noremap` instead `(i|n|v|)map`"
Usually it is desired to not execute the mappings set by the plugin in another map.
From my understanding this is also not the case for (most of?) the mappings in vimoutliner.

I suggest replacing all `*map`-mappings with `*noremap`-mappings, excluding obviously those where it is necessary.

[2016-08-13 08:16] KingEdwardI opened #133 "installation from .zip"
I just spent about two hours trying to figure out why VO wasn't working at all. I installed the file from the .zip and it wouldn't work, so I removed the folder from ~/.vim and installed via Pathogen. this didn't work either. After hours of tweaking settings and uninstalling/reinstalling, but nothing seemed to work. It turns out that the original install from the .zip included a 'filetype.vim' int

[2016-08-13 12:32] mcepl commented on #133
You are right, we should fix the README.

I guess, Steve willl complain, but we should make it clear that ``pathogen``-like installation is the preferred method.

[2016-08-13 15:59] noelhenson commented on #133
Lots of the documentation needs to be gone through. Perhaps that could
be 0.5 goal.

On 08/13/2016 06:45 AM, Matěj Cepl wrote:

[2016-08-13 18:58] edvetterdrake commented on #133
There was also the issue with the comma-comma commands on Mac. It seems I have to add default settings to the user created .vimoulinerrc. In the default rc it says to just uncomment them, but that did nothing. Now that it's pretty much working, I love it.

[2016-08-13 19:09] noelhenson commented on #133
Out of curiosity, what did you do to finally get it working?

On 08/13/2016 01:58 PM, edvetterdrake wrote:

[2016-08-13 19:15] KingEdwardI commented on #133
After uninstalling all of the install.sh files, I had to move all of the default rc commands into the user created ~/.vimoutlinerrc. also had to change the line shift command from
`dd <up>P` -> `dd <Up> P`

[2016-08-13 20:27] mcepl commented on #133
@noelhenson I see two problems:

1. particular one, that there shouldn't be a whole ``filetype.vim``, but just a snippet in ``~/.vim/ftdetect/`` subdirecotry for the zip-based installation
2. that we should keep the zip-based Steve’s installation around at all. We should really switch everybody to ``pathogen``-like style, which Just Works™.

[2016-08-13 20:35] noelhenson commented on #133
Can you explain #1 a bit more?

For #2, perhaps we shouldn't keep the zip installation around. It's been
something like 15 years (perhaps more?) that those zips were created.
Perhaps we could add what the contents were to the docs somewhere in
case it is ever needed and leave it at that.

On 08/13/2016 03:27 PM, Matěj Cepl wrote:

[2016-08-13 20:59] mcepl commented on #133
``he :ftdetect`` (the appropriate file is already present in the repo).

[2016-08-22 15:17] frioux commented on #124
Never found out what the cause of this was, but just disabled the paste plugin and am willing to type ]p myself (which works.)

[2016-08-22 16:07] noelhenson commented on #124
Can we get a description of the problem and perhaps steps for
reproduction so we have a chance to resolve the issue?

On 08/22/2016 10:17 AM, fREW Schmidt wrote:

[2016-08-22 16:10] frioux commented on #124
Sure I'll give you some steps. Will send you something in a few hours.

--
sent from a rotary phone, pardon my brevity

On Aug 22, 2016 9:07 AM, "Noel Henson" <notifications@github.com> wrote:

[2016-08-22 22:22] frioux commented on #124
Ok so this is pretty weird but here's the deal.  I installed [Sneak](https://github.com/justinmk/vim-sneak) a while ago, and then uninstalled it.  I have the following in my vimrc:

[code]

Because I have ; and : swapped.  Interestingly, this is the only plugin that has an issue with the above.  I'm removing the above since I don't have that plugin anymore anyway, but somehow VOTL was confused by

[2016-10-07 14:31] blawiz opened #134 "folds with blank lines"
Is it hard to implement folds that dont break on blank lines? I don't love the "body text" solution, and non breaking folds would be dope!

eg this would then be one fold:
heading
\tsubheading

\tsubheading

[2016-12-20 08:45] josswright commented on #36
I've just installed vimoutliner and came across an old Google Groups discussion about the domain having been grabbed by spammers. I just noticed that it currently seems to be unregistered, so if you're still planning on grabbing it then this might be the moment.

[2016-12-21 21:38] mcepl commented on #36
Taken on 2016-12-20T14:30:18Z by Cyrus the Great, LLC (https://www.pheenix.com). :(

[2016-12-21 22:15] noelhenson commented on #36
Yep. A bot somewhere keyed on the mention of the domain and that it was
available. Then it gets scooped up within minutes.

On 12/21/2016 03:38 PM, Matěj Cepl wrote:

[2016-12-22 00:21] josswright commented on #36
Sorry... I was tempted to snap it up when I saw it. I knew domain front running was a problem, but that's ridiculous. Someone set a calendar for this time next year, and make sure not to do a WHOIS query until the last minute!

Small comfort that it's cost the horrible company a little droplet of revenue to register it.

[2017-02-25 15:26] JervisTetch opened #136 "filetype .otl not detected when opening files from CLI"
When opening files like `vim file.otl` or `vim -p file.otl file2.otl [...]` the filetype .otl isn't detected by vim. Doing `:e` after opening file from CLI or opening the file directly in vim does solve this problem.

Is there probably a workaround for this?

[2017-02-25 15:36] JervisTetch commented on #136
Ok, i found a solution for my special case. Opening files like `vim -p file.otl file2.otl [...] -c "tabdo e | tabfirst` does it.

[2017-03-11 19:52] xkpd3 opened #139 "Question: Default leader is "\" but documented is ",,""
Hello,
The leader key "\" is set as default. But in the documentation, votl_cheatsheet etc. the ",," comma comma leader is documented.

Shouldn't the documentation reflect the default? I'm happy to work on that if this is wanted.

[2017-03-11 19:53] noelhenson commented on #139
Stefan,

Please do. All help is appreciated.

Noel

On 03/11/2017 01:52 PM, Stefan Hagen wrote:

[2017-03-11 23:03] mcepl commented on #139
We had couple of bitter fights over this. @noelhenson  and Steve Litt (the original author of VO) prefer ``,,``. I thought that not changing ``maplocalleader`` from its default value would make users more confused than anything. If you would like to switch to ``,,``, just comment the appropriate line in ``vimoutlinerrc`` and everything should be fine.

[2017-03-11 23:32] noelhenson commented on #139
I don't know if 'bitter' is the appropriate word. ;) We are all smart
people with our own ways of doing things. And I have great respect for
you have done, Matej.

:D

On 03/11/2017 05:03 PM, Matěj Cepl wrote:

[2017-03-12 07:56] xkpd3 commented on #139
It's not about my personal settings. I already switched back to ",,".

I don't really care about what's the default. "\" for me is bad, because on a German keyboard layout, this is ALT_R + the key right of "0". This is an uncomfortable key combo.

However, I really had a hard time to find this setting. I have installed the plugin and it took me quite some time to figure out why ",," did not work.

[2017-03-12 08:02] mcepl commented on #139
Except it is all there. In ``README.detailed``, I mean.

[2017-03-12 08:03] mcepl commented on #139
No, it isn’t. Y’all too kind to me. But relatively speaking, these were the bitterest (?) conversations we had.

[2017-03-12 08:06] xkpd3 commented on #139
@mcpel: Yes indeed, but if you miss to read this line (https://github.com/vimoutliner/vimoutliner/blob/master/doc/votl.txt#L408) the whole documentation is missleading Below the leader ",," is assumed.

I think it can be mentioned, that the leader can be changed to ",,". But the documentation should reflect the default "\". So all the examples should contain "\" and not ",,", because this is the d

[2017-03-25 01:56] z-hunter commented on #29
I have same problem on Windows 7.  Just installed VO to VIM with Vundle and it just doen't work.

filetype = conf

 Nothing changed.

[2017-05-03 07:20] #115 closed

[2017-05-03 10:35] mcepl commented on #115
When I say still broken, I mean

[Showing results for uploaded file rodinna_ubytovani.html - Nu Html Checker.html.txt](https://github.com/vimoutliner/vimoutliner/files/973043/Showing.results.for.uploaded.file.rodinna_ubytovani.html.-.Nu.Html.Checker.html.txt)

[2017-08-02 13:12] mcepl commented on #139
#140 merged.

[2017-08-02 13:12] #139 closed

[2017-11-29 10:23] mcepl commented on #136
@JervisTetch how did you install vimoutliner? Manually copying files to your ~/.vim or do you use some plugin mechanism (vundle, plug, vim8 packages)?

[2017-11-29 10:24] mcepl commented on #134
This would require huge rewrite of the substantial part of the text. Unless you provide a pull request for it, it won't happen.

[2017-11-29 10:24] #134 closed

[2017-11-29 11:06] mcepl commented on #133
I think this discussion is getting increasingly silly. Please, comment on #147 and we move on with this.

[2017-11-29 12:11] mcepl commented on #132
Good idea, a pull request welcome!

[2017-12-17 15:46] JervisTetch commented on #136
I've installed VO via Vundle and `~/.vim/ftdetect/votl.vim` exists but differs from the actual git version.
[code]

I've checked the HEAD of my git repo because I haven't installed any updates for a while.

Here's the diff:
[votl.vim.txt](https://github.com/vimoutliner/vimoutliner/files/1565806/votl.vim.txt)

[code]

[2018-02-16 17:51] #133 closed

[2018-02-16 18:19] mcepl commented on #94
@jostber Please, make a pull request. Thank you.

[2018-02-16 18:35] mcepl commented on #114
First of all, I don't understand why I closed this.

[2018-02-16 18:46] mcepl commented on #98
@noelhenson Shouldn't at least ``setlocal`` it then as a protection?

[2018-02-16 18:49] #114 closed

[2018-02-16 18:58] mcepl commented on #59
@noelhenson , this probably should be moved to 0.6.0, right?

[2018-02-16 19:01] noelhenson commented on #59
Yes. I don't have any free time to implement anything like that at the moment.

[2018-02-16 19:03] mcepl commented on #136
OK, I call this ``NOTABUG`` and closing. If you have any problems with that, please, reopen and explain me what should be done here.

[2018-02-16 19:03] #136 closed

[2018-02-16 19:05] mcepl commented on #87
@noelhenson hopefully, this should be easy, shouldn't it? Could we get a pull request here, please?

[2018-02-16 19:07] mcepl commented on #131
@linxichen What is the status of this bug, please?

[2018-02-16 19:09] mcepl commented on #107
@januz What is the status of this issue? Did you create the ``opml.conf`` file mentioned in https://github.com/vimoutliner/vimoutliner/issues/107#issuecomment-143624270 ? Could you provide it to us as a pull request to this repository, please? Thank you.

[2018-02-16 19:11] mcepl commented on #88
@noelhenson So, this is only about missing docs?

[2018-02-16 23:10] noelhenson commented on #88
Yes.

On 02/16/2018 01:11 PM, Matěj Cepl wrote:

[2018-02-17 12:59] mcepl commented on #88
@noelhenson Hmm, I am afraid there must be something wrong. I have here ``master`` branch of VO and yet when I press ``<localleader>ci`` nothing happens (``:map`` shows me it is not mapped even), and ``<localleader>cx`` doesn't go through ignoring leaf either (just flips between ``done`` and ``not-done`` state). Isn’t by chance your ``master`` different from what we have here?

[2018-02-18 19:12] januz commented on #107
@mcepl Sorry, I didn't continue using Vim Outliner!

[2018-03-12 17:28] buckeye43210 opened #150 "Perm Decision Tree Builder"
# OVERVIEW

I'm looking for someone to rewrite the MaxThink Perm Decision Tree Builder. Perm was a DOS program written by Neil Larson to convert three hierarchical input files into a decision tree or search tree. The input files are as follows:

- Attribute File
- Category File
- Priority File

Larson used his MaxThink outliner to create the input files, but any ASCII text editor can be pressed in

[2018-03-13 16:10] mcepl commented on #150
Just for clarification, that freemind mind map has nothing to do with this ticket, right? ``PERM.EXE`` generates just file ``D`` which is a text file in the outlineish format, doesn’t it?

[2018-03-13 16:27] buckeye43210 commented on #150
Correct. The graphic is only there to show what the tree looks like in freemind.

[2018-03-20 18:10] weltonrodrigo opened #152 "Error detected in ftplugin/votl.vim: Function MyFoldText already exists"
`Error detected while processing ~/.vim/bundle/VimOutliner/ftplugin/votl.vim:
line  340:
E122: Function MyFoldText already exists, add ! to replace it`

Getting this error when opening `.otl` files.

My ~/.vimrc (I'm using Vundle):

    Plugin 'VundleVim/Vundle.vim'
    Plugin 'tpope/vim-fugitive'
    Plugin 'git://git.wincent.com/command-t.git'
    Plugin 'rstacruz/sparkup', {'rtp': 'vim/'}
    P

[2018-03-20 21:56] #152 closed

[2018-03-21 15:23] rajeshduggal opened #155 "vim on cygwin reports eol errors in plugin when opening otl files"

[2018-03-21 16:14] rajeshduggal commented on #155
Never mind. I fixed my issue by creating a .git/info/attributes file into my local clone and in the file I added..
* text=auto
*.vim text eof=lf
Then deleted and checked out the .vim files again. All good now.

[2018-03-21 16:14] #155 closed

[2018-04-09 13:24] #119 closed

[2018-04-09 13:29] mcepl commented on #125
@danielcnorris Could we by chance get that improved sorting as a merge request here?

[2018-04-09 13:31] mcepl commented on #131
Sorry, @linxichen , feel free to reopen with additional information, if you feel it should be alive.

[2018-04-09 13:31] #131 closed

[2018-04-17 22:40] danielcnorris commented on #125
@mcepl I actually moved away from using vimoutliner since opening this, so I never implemented. Great plugin.

[2018-04-17 22:49] #125 closed

[2018-09-18 15:25] murrrf opened #156 "Set the parent checkbox and all of its children at once"
When a child checkbox state is changed, this is reflected on its parent. But it's impossible to set or unset the parent checkbox. It would be convenient to set the parent checkbox and simultaneously set all its child checkboxes and vise versa.

[2018-09-18 16:05] noelhenson commented on #156
Sergej,

This can be done by collapsing the parent with 'zc' and executing ,,cb.

Noel

On 09/18/2018 10:28 AM, Sergej Martynov wrote:

[2018-09-18 18:15] murrrf commented on #156
It was a little unobvious for me, but it really works. All checkboxes are set simultaneously.
However, it is not possible to remove them in the same way. All checkboxes except the last in the list remain set.

[2018-09-18 18:18] noelhenson commented on #156
I just tried it and it works for me. Can you create a small example OTL
file the exhibits the issue?

On 09/18/2018 01:15 PM, Sergej Martynov wrote:

[2018-09-18 18:31] murrrf commented on #156
I created a test file with the following structure:
[code]
I set cursor to line A and pressed ``zc`` and ``\cx``.
All checkboxes were marked as set.
Then I again set the cursor on line A and pressed the ``zc`` and ``\cx``.
The list has the following appearance:
[code]
I pressed ``\cz`` and got final appearance:
[code]

[2018-09-18 18:54] noelhenson commented on #156
After a quick test. The method I mentioned does indeed not work well on
clearing the checkboxes.

It works with this:
|
[_] A |

|[_] B1 [_] C [_] C1 : text [_] C2 : text [_] D [_] D1 : text [_] D2 : text|

But not this:

|[_] 0% A |

|[_] 0% B1 [_] 0% C [_] 0% C1 : text [_] 0% C2 : text [_] 0% D [_] 0% D1
: text [_] 0% D2 : text|

Interesting. It must be the math part that calculates the percenta

[2019-01-07 07:41] FelixZhang opened #157 "Inserting date time in insert mode broken in a certain setup"
As a vim user In Gnome terminal, I have to use [this workaround](https://stackoverflow.com/questions/6778961/alt-key-shortcuts-not-working-on-gnome-terminal-with-vim.) to enable Alt key mappings. However this breaks the <localleader>d and <localleader>t mappings in insert mode, which uses <esc> in the middle of the key sequences, resulting the following texts inserted instead:

[2019-01-20 09:27] rsaarelm opened #160 "Back and forth between colon and space based body text drops paragraph breaks"
Write the following otl file:

    : one
    :
    : two

Then press `\B` (convert to start body text with space) and `\b` (convert back to start with colon). The text is now

    : one

    : two

Looks like you could fix the problem by having "convert to start with space" have a special case where it converts a colon followed immediately by an end of line into a single space instead of an empty

[2019-02-25 12:37] wisdomlight opened #162 "README.detailed"
Hi,
I am new to vimoutliner.
I am looking for some more details.
the README says that for more details are to be found in README.detailed
there is no such file.

Clicking on the README.detailed shows doc/votl.txt
but nothing else.
Am I getting something wrong?

[2019-02-25 12:38] wisdomlight opened #163 "otl2html"
I am having no success with otl2html

Maybe I am not doing it correctly.

What is the correct procedure to convert otl to html?
Thanks

[2019-08-08 08:22] mcepl commented on #162
``README.detailed`` is a symlink to ``doc/votl.txt``, that’s correct.

[2019-08-08 08:22] #162 closed

[2019-08-08 10:27] mcepl commented on #163
[code]
works for me.

[2019-08-08 10:27] #163 closed

[2019-08-08 10:30] mcepl opened #164 "Make all Python script py3k-ready"
https://pythonclock.org/ … what else to say?

[2019-08-08 10:32] mcepl commented on #94
No response, not that much important.

[2019-08-08 10:32] #94 closed

[2019-08-08 10:34] mcepl commented on #88
No reaction in two years. If you have actually interest in this, please, reopen.

[2019-08-08 10:34] #88 closed

[2019-08-08 10:35] mcepl commented on #87
No reaction in many years, closing.

[2019-08-08 10:35] #87 closed

[2020-01-09 10:15] nilsbecker opened #166 "highlighting color changes only every other level"
see attached screenshot. i think the intended highlighting should be changing color on every new level?
i have the setting
`  au FileType * set tabstop=2|set shiftwidth=2|set noexpandtab` in my .vimrc
<img width="1082" alt="Screen Shot 2020-01-09 at 11 11 33" src="https://user-images.githubusercontent.com/177614/72058919-437c6180-32d1-11ea-85a0-ab31522cc784.png">

[2020-01-09 10:24] noelhenson commented on #166
That would make sense. The color encodings were set according to a
tabstop being 4 characters wide. check your tabstop and shiftwidth
first. It's been so long ago I don't remember exactly how the color
encodings are triggered. They should be triggered on character locations
(1, 4, 8, ...). Does it work if your tabstop and shiftwidth are set to 4?

Noel

On 1/9/20 4:15 AM, nilsbecker wrote:

[2020-01-09 14:03] nilsbecker commented on #166
i set tabstob and shiftwidth to 4 each, and the indent for each level is now 4. but the coloring stays the same...

[2020-01-09 14:05] nilsbecker commented on #166
ah wait! i tried a different colorscheme and the coloring is now every line. my default one is 'tender'. i guess it's a bug of the color scheme then?

[2020-01-09 14:19] noelhenson commented on #166
It sounds like you nailed it.

I don't know the colorscheme "tender" I"m using an old, highly
personalized version of VO.

Noel

On 1/9/20 8:05 AM, nilsbecker wrote:

[2020-01-10 13:54] mcepl commented on #166
![Snímek z 2020-01-10 14-50-11](https://user-images.githubusercontent.com/198999/72157633-b280b580-33b8-11ea-8f49-884f16b637cf.png)

I don’t think there is anything wrong with what VO does (this is a standard [solarized8_high](https://github.com/lifepillar/vim-solarized8) colour scheme).

[2020-01-11 11:36] mcepl commented on #166
Could you guy reproduce your problems with a standard colorscheme (just run ``:colorscheme default``)? If not, I will have to close this soon.

[2020-01-13 13:31] nilsbecker commented on #166
the standard colorscheme works as intended. i think this can be closed.

[2020-01-13 13:56] #166 closed

[2020-02-17 09:57] mildred opened #168 "Fold checked items"
vimoutliner is just great, I just started using it for TODO lists. However as completed items count increase, I'll suspect that a way to fold checked items would come handy.

A command to fold the checked items at the current level would be great, but I'm not sure exactly how it should work. Any ideas around that?

[2020-03-17 21:30] noelhenson commented on #168
That may well be a cool feature. I'm not quite sure how I would do that.
Do you mean to just fold up checked items?

So this

[ ] blah blah blah
[ ] blah blah blah
[X] blah blah blah
[X] blah blah blah
[X] blah blah blah
[X] blah blah blah
[ ] blah blah blah
[ ] blah blah blah
[ ] blah blah blah

Might look like this:

[ ] blah blah blah
[ ] blah blah blah
Folded stuff [X] blah blah blah
[ ] blah

[2020-04-30 22:28] limitedAtonement opened #169 "Mailing list doesn't exist?"
https://groups.google.com/forum/#!forum/vimoutliner is mentioned in `votl-other-info` but doesn't work for me. When I go there, I get, "This group either doesn't exist, or you don't have permission to access it."

[2020-06-19 05:25] klotfi opened #172 "Hoisting Feature not working"
installed the plugin today and does exactly what I was looking for - many thanks.

I enabled hoisting by un-commenting `let g:vo_modules_load .= ':newhoist'` line in `~\.vim\plugged\vimoutliner\vimoutlinerrc` file. However, `\h` doesn't seem to work.

Looking at directories, hoisting plugin has been moved to `prev` directory under plugin dir. So I am not sure if it is deprecated or additional step

[2020-10-26 15:48] #164 closed

[2020-10-26 22:26] Serene-Arc commented on #160
This issue can be closed now :)

[2021-01-07 00:23] JESii opened #174 "Color problems"
I had the same issue as originally reported #166 by @nilsbecker . To get around that and to use my standard `tabstop=2 shiftwidth=2`, I changed both values to 2 using `:setlocal`. That resolved the line coloring. However, overall, the coloring was unusable, with yellow values on a white background and the cursor line a dark grey which made that line unreadable.

![image](https://user-images.github

[2021-01-13 14:39] JESii commented on #174
I found the mention of `votl_dark` and have been using that successfully, but it just stopped working and now I have nothing but a plain text file, even though it's named `fl.otl`. I'm in the GUI (MacVim), select that color scheme, but it doesn't color things at all.
Any suggestions as to what's going wrong?

[2021-01-13 20:43] nilsbecker commented on #174
hi @JESii , so how did you get it to work with tabstop=2? `au FileType votl setlocal tabstop=2` and so on? is it working now?
(i kind of gave up and lived with incomplete coloring as the author of the colorscheme i'm using claims that vo does something dodgy and will not change the colorscheme, but if i change i might want to give it another try)

[2021-01-20 04:56] JESii commented on #174
Yes, I did get it working, although every now and then it acts up.

I’ll get to my work computer computer tomorrow and let you know

Cheers..jon
Stay safe; be well.

Jon Seidel, CMC®
EDP Consulting, Inc. / www.edpci.com <http://www.edpci.com/>
 <http://www.4mypasswords.com/>Effective Decisions... Priceless!
Linked In Profile <http://www.linkedin.com/in/jonseidel>
Technology that means Business - S

[2021-01-20 14:56] JESii commented on #174
@nilsbecker It's not just `tabstop=2`; it also requires `shiftwidth=2`. Plus I also have (already) set `softtabstop=2` as part of my normal setup. I found the default colorscheme (`votl_light` as I recall) to be quite unusable, so switched to `votl_dark` and that's working for me now.
I haven't setup an autogroup yet -- I just open a dedicated MacVim instance and use that strictly for `vimoutliner

[2021-01-21 01:59] kxmndev opened #175 "NeoVim + Plug compatible"
I sourced by hand in my configuration all the .vim files, I can work with vim outliner except for some mappings...
I did some unpratical workaround, since I couldn't use it with NeoVim + Plug

[2021-01-21 21:00] mcepl commented on #175
Care to elaborate? vimoutliner works for me quite well with neovim and natural package management (i.e., each plugin is a git submodule of ~/.vim git repo, but it should be functional equivalent of any vim plugin package manager).

[2021-01-22 02:12] kxmndev commented on #175
In simple steps...
* Added to Plug and ran "PlugUpdate"
* Opened ~/.config/nvim/lib/plugins/vimoutliner/TODO.otl
* Checked `set filetype` and was empty `filetype=`
* Checked `set syntax` and was empty too `syntax=`
* Tried `\cb` and no checkbox was added

At first I thought it was incompatible, but I sourced the vim files from ftplugin, syntax etc. in my init.vim. Worked in parts... so I think it

[2021-01-22 08:30] mcepl commented on #175
Please, check that:

1. `~/.config/nvim/lib/plugins/vimoutliner` is in `:set rtp`
2. Does anything change after running `:runtime! ftdetect/votl.vim | e! ~/.config/nvim/lib/plugins/vimoutliner/TODO.otl`?

[2021-01-22 11:21] kxmndev commented on #175
Sorry,

I created a clean user in my system and set up a completely clean nvim environment. It worked ok.
I went back my user and disabled all plugins... and it worked ok
So I reenable each plugin and found only one that, when enabled, make it stopped, and it was `sheerun/vim-polyglot`

The hoisting is working ok... only when I press `<Leader>H` I receive `E117: Function unknown: DeHoistThis`. But

[2021-01-22 11:24] mcepl commented on #175
Patches welcome. I am a bit overwhelmed with RL at the moment.

[2021-03-21 23:05] RossBoylan opened #176 "Current installation instructions leave scripts inaccessible"
After following the current  [installation instructions](https://github.com/vimoutliner/vimoutliner/blob/master/doc/votl.txt), invoking a script requires me to use
`~/.vim/pack/thirdparty/start/vimoutliner/vimoutliner/scripts/votl_maketags.py`.  Which doesn't seem very practical.

This is also not the path that is used elsewhere in the documentation, e.g., in the discussion of how to test the inst

[2021-03-22 07:47] mcepl commented on #176
And what would you suggest to do?

[2021-03-22 17:29] RossBoylan commented on #176
I am not very familiar with vim and so am not in the best position to judge.  I couldn't even find vim documentation about why the current recommended setup works!  A few comments:

1. I gather from some other exchanges that the scripts are a diverse bunch, with some providing core services and others just collected and possibly not even working with the current implementation.  The right thing to

[2021-03-22 17:31] mcepl commented on #176
`:he packages`

Read the above help, things don't work the same with plain vim packages.

Meanwhile, I don't see anything actionable here, so closing this ticket. If you have some specific concerns against the thing are done, let us know.

[2021-03-22 17:44] RossBoylan commented on #176
It seems to me a bare minimum would be to make the current documentation internally consistent.  As it stands it tells people to run scripts that don't exist in locations that don't exist if you follow the recommended installation procedure.  Here are my notes of what happened when I followed them:
[code]

[2021-03-22 22:30] mcepl commented on #176
Awesome! Pull request on documentation would be certainly considered.

[2021-04-20 15:38] #157 closed

[2021-04-25 04:54] RossBoylan commented on #176
With pull #178 all of the specific problems enumerated in [my previous comment](https://github.com/vimoutliner/vimoutliner/issues/176#issuecomment-804264363) are solved.  But the results remains unsatisfying.  This is partly because the ugly path to the scripts mentioned in my initial post remains unchanged, even if it now [documented properly](https://github.com/vimoutliner/vimoutliner#helper-scr

[2021-04-25 06:45] mcepl commented on #176
That’s one of many problems we have to deal with. Vim does hide a lot of platform incompatibilities from us and/or VO never rises to the levels where these incompatibilities are relevant, but sometimes we still have to cut some corners.

There used to be `./install.sh` but it was a bit of nightmare, because there were so many configuration options that this theoretically very simple script changed

[2021-04-25 23:03] noelhenson commented on #176
Steve,

I am in total agreement. We did this 20 (maybe 22) years ago when
there was no good outliner for *nix. I don't count EMACS outline mode
and its key combos were killing my wrists (on modern keyboards).

I still use the ',,' prefix. I still use install.sh. The Debian
maintainer had a somewhat justifiable reason for the change at that
time because, you know, Debian, and its rules for consiste

[2021-04-25 23:37] RossBoylan commented on #176
Somewhat off topic ....

@noelhenson Do you think *nix has a good outliner now?  I split between using GrandView in a dos box and VimOutliner esp when I am in text mode remotely.  Apparently word processors killed outliners, but I've never found one that was remotely as usable (ditto emacs).

My wife tried CherryTree (on my advice), which has some outliner elements, though it's more like MS One No

[2021-04-26 01:56] stevelitt commented on #176
RossBoylan said on Sun, 25 Apr 2021 16:37:49 -0700

***@***.*** Do you think *nix has a good outliner now?  I split

I think that VimOutliner, Leo and Emacs Org Mode are all excellent
outliners. They all have different strengths and weaknesses.
VimOutliner's key strength is incredible authoring speed.

[snip]

Excellent!

Again, I don't find this the slightest bit concerning. Back when Noel
and I

[2021-04-26 21:00] mcepl commented on #176
Dne 26. 04. 21 v 3:56 stevelitt napsal(a):

Yes, they are great outliners, except I am not that certain I actually
need an outliner most. Most things I need are TODO lists and I think
vimwiki is working better for me.

I am torn about vim plugins. I am just on one openSUSE list in the
middle of discussion about packages for vim plugins, and I argue that it
is generally waste of time and making thi

[2021-07-31 11:43] laternser opened #179 "Might want to let users know the ,, actions are not the default."
Please make a prominent note that the vimoutliner keystrokes (the default) have changed; and that
the file structure has changed.   I wasted A GREAT DEAL of time.

My advice to long term vim users is to start with a fresh and empty .vim

============
The old ,, strokes are ingrained in my brain.  I just assumed vimoutliner was broken
as vim was behaving oddly.    ... Many odd behaviours that proba

[2021-07-31 16:14] mcepl commented on #179
Well, that change happened in https://github.com/vimoutliner/vimoutliner/commit/82348f45a5760f5169216327caceb533ccf8d2be (that's  4 Sep 2014). If you haven’t recovered from that change yet, I think it is too late to save you.

[2021-07-31 16:14] #179 closed

[2021-08-04 04:02] noelhenson commented on #179
Laternser,

I have felt your pain for many years now. Certain distros have their own
ways of doing things. I have never been fond of the issues of others
(distros) changing and remolding how VO should work. 21 years ago, Steve
and I created VO. I was the major programmer. I probably have spent over
2,000 hours on it. Steve was the guiding light on functionality. I
implemented checkboxes, checkbox

[2021-08-04 12:00] mcepl commented on #179
Hi, Noel,

I am sorry, I have never knew you felt so strongly about this, you never told us (or I was too dim to understand). I thought you were just too busy or you lost your interest, so I was waiting for years that you return and finish #78 (for example).

Actually, this may be the opportunity to give you VO back (if you feel I have stolen it from you and Steve; I really didn't mean it like tha

[2021-08-05 12:34] laternser commented on #179
(Readers can skip down to "THE PROBLEM" for a description of what I believe is a VO problem.)

Noel,

I am pleased you still pay notice to your creation. You have certainly made my life better
for decades now. I also highly appreciate the useabliity of early versions of your work and
vim-outliner continuing ability to transfer.  Still one of my all time most useful pieces of software.
The simple v

[2021-12-21 22:05] tlhall opened #180 "Old bug in syntax/votl.vim"
Line 242 in syntax/votl.vim is:
	au BufNewFile,BufRead *.otl                     setf outliner
it should be:
	au BufNewFile,BufRead *.otl                     setf votl
I think this showed up with a newer version of VIM which corrected the execution order of plugin files.

[2021-12-22 15:08] mcepl commented on #180
That’s nonsense. `setf` should not be run in `syntax/*` files at all. It should be run only in `ftdetect/votl.vim` and it already is.

[2022-07-22 12:51] mcepl opened #182 "Please remove me from VimOutliner project"
With the switch to Neovim, I have started to use https://github.com/nvim-orgmode/orgmode more and more, and it doesn’t make sense to pretend to be a maintainer of a program I don’t use.

So, please, remove me from https://github.com/orgs/vimoutliner/people

Thank you